[Unit]
Description=defined
Wants=basic.target
After=basic.target network.target
Before=sshd.service

[Service]
SyslogIdentifier=defined
StandardOutput=syslog
StandardError=syslog
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/etc/defined/dnclient
Restart=always

[Install]
WantedBy=multi-user.target
